body
{
        font-family: courier new, lucida console, monospace;
        background: black;
}

/*Text color for each page*/
    h1
{
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}

table {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

pP {
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}

span {
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    color: white;
    margin-left: auto;
    margin-right: auto;
}
button {
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}

form{
    color: greenyellow;
    margin-left: auto;
    margin-right: auto;
}
/*Images for the web page*/
/*#canv  This is for the data fall Matrix effect:(
{ 
    margin: 0;
    height: 100vh;
    width: 100vw;

  }*/

#dragon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
}

#survey{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 336px;
    height: 225px;
}
/* Here is the code for the data fall effect from the Matrix:(
#matrixDataFall {
    position: fixed;
    right: 0;
    bottom: 0
    min-width: 100%:
    min-height: 100%;

}*/
